@model IEnumerable<Model.Registrations.Department>
@{
    ViewData["Title"] = "Department";
    Layout = "_Layout";
}

<p>
    <a class="btn btn-default" asp-action="Create" asp-area="Registrations">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institution.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>

                <td>
                    <a asp-area="Registrations" asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-area="Registrations" asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                    <a asp-area="Registrations" asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
