@model IES.Models.Institution

@{
    ViewData["Title"] = "Institution";
}

<h2 style="margin-top: 5rem;">@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.InstitutionId">Edit</a>
    <a class="btn btn-default" role="button" asp-action="Index">Back to List</a>
</div>